.about-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

.person-content{
    width: 30%;
}
.person-form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.member-item{
    margin: 10px 30px;
    height: 30px;
}
.member-item:hover{
   background: #e3e3e3;

}

.about-form{
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.buttons{
    flex-direction: row;
}